#mobile{

    display:none;

}


@media (pointer:coarse){

    #mobile{

        display:block;

        position:fixed;

        inset:0;

        z-index:9999;

        pointer-events:none;

    }



    #mobile button{

        position:absolute;

        width:70px;

        height:70px;

        border-radius:50%;

        border:none;

        background:rgba(0,0,0,0.6);

        color:white;

        font-size:30px;

        pointer-events:auto;

    }



    #btnLeft{

        left:20px;

        bottom:30px;

    }



    #btnDown{

        left:100px;

        bottom:30px;

    }



    #btnRight{

        right:20px;

        bottom:30px;

    }



    #btnUp{

        right:100px;

        bottom:30px;

    }



    #btnOk{

        right:20px;

        bottom:120px;

        width:80px;

        height:80px;

        font-size:35px;

    }



}

#mobile{
    display:none;
}


@media (pointer:coarse){

    #mobile{

        display:block !important;

        position:fixed !important;

        inset:0 !important;

        z-index:99999 !important;

        pointer-events:none;

    }



    #mobile button{

        position:absolute !important;

        width:70px !important;

        height:70px !important;

        pointer-events:auto;

    }



    #btnLeft{

        left:20px !important;

        bottom:30px !important;

    }


    #btnDown{

        left:100px !important;

        bottom:30px !important;

    }



    #btnRight{

        right:20px !important;

        bottom:30px !important;

    }



    #btnUp{

        right:100px !important;

        bottom:30px !important;

    }



    #btnOk{

        right:20px !important;

        bottom:120px !important;

    }

}

#btnAtaque{


    background:#300;

    color:white;

    border:3px solid red;

    border-radius:50%;

    width:75px;

    height:75px;

    font-size:35px;


}



@media(max-width:700px){

#btnAtaque{

    display:block;

}

}

@media (max-width:900px){

#fraseGameOver{

    width:90%;

    margin:auto;

}

#fraseGameOver p{

    font-size:34px;

    line-height:1.35;

}

.levante{

    font-size:52px;

}

}

@media (max-width:900px){

#gameOver{

    justify-content:flex-start;

    padding-top:40px;

}

}

@media (max-width:900px){

#menuGameOver{

    margin-top:18px;

}

}

@media (max-width:900px){

.gota{

    transform:scale(.7);

}

}


#btnAtaque{

    left:20px; 
    top:20px;  

}

#mobile{
    
}